src/Fiscalization/Cis/Generator/wsdl/FiskalizacijaService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FiskalizacijaService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.apis-it.hr/fin/2012/services/FiskalizacijaService"
                  xmlns:uis="http://www.apis-it.hr/fin/2012/services/FiskalizacijaService"
                  xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
                  xmlns:fis="http://www.apis-it.hr/fin/2012/types/f73">

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.apis-it.hr/fin/2012/types/f73" schemaLocation="../schema/FiskalizacijaSchema.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="RacuniRequest">
    <wsdl:part element="fis:RacunZahtjev" name="request"/>
  </wsdl:message>
  <wsdl:message name="RacuniResponse">
    <wsdl:part element="fis:RacunOdgovor" name="response"/>
  </wsdl:message>

  <wsdl:message name="EchoRequest">
    <wsdl:part element="fis:EchoRequest" name="request" />
  </wsdl:message>
  <wsdl:message name="EchoResponse">
    <wsdl:part element="fis:EchoResponse" name="response" />
  </wsdl:message>

  <wsdl:message name="ProvjeraRequest">
    <wsdl:part element="fis:ProvjeraZahtjev" name="request"/>
  </wsdl:message>
  <wsdl:message name="ProvjeraResponse">
    <wsdl:part element="fis:ProvjeraOdgovor" name="response"/>
  </wsdl:message>


  <wsdl:portType name="FiskalizacijaPortType">
    <wsdl:operation name="racuni">
      <wsdl:input message="uis:RacuniRequest"/>
      <wsdl:output message="uis:RacuniResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <wsdl:input message="uis:EchoRequest"/>
      <wsdl:output message="uis:EchoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="provjera">
      <wsdl:input message="uis:ProvjeraRequest"/>
      <wsdl:output message="uis:ProvjeraResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="FiskalizacijaService" type="uis:FiskalizacijaPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="racuni">
      <soap:operation soapAction="http://e-porezna.porezna-uprava.hr/fiskalizacija/2012/services/FiskalizacijaService/racuni"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <soap:operation soapAction="http://e-porezna.porezna-uprava.hr/fiskalizacija/2012/services/FiskalizacijaService/echo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="provjera">
      <soap:operation soapAction="http://e-porezna.porezna-uprava.hr/fiskalizacija/2012/services/FiskalizacijaService/provjera"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="FiskalizacijaService">
    <wsdl:port name="FiskalizacijaPortType" binding="uis:FiskalizacijaService">
      <soap:address location="https://cis.porezna-uprava.hr:8449/FiskalizacijaService"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
